PROJECT_NAME=Nexos ERP
API_V1_STR=/api/v1
API_ROOT_MESSAGE=Welcome to Nexos ERP API
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nexos_erp
POSTGRES_PORT=5432
